/*To modify scroll bar view*/
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	background-color: #fff;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	background-color: #fff;
}

::-webkit-scrollbar-thumb {
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #f08080;
}

/*styling body element of html a bit */
body {
	background: url('/assets/images/body.jpg');
	background-size: cover;
	position: absolute;
	background-attachment: fixed;
	bottom: 0px;
	right: 0px;
	top: 0px;
	left: 0px;
	min-width: 300px;
	font-family: 'Calibri';
}